# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAqfhoMTXk1wx57snyYUCOypdAhBS9X5pg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studio-4940927620-c4e90.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio-4940927620-c4e90
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=studio-4940927620-c4e90.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=424747215465
NEXT_PUBLIC_FIREBASE_APP_ID=1:424747215465:web:4ca1009750bc6fc50650f8

# Next.js Configuration
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:10000

# Add any other environment variables your app needs
